*{
    margin:0;
    padding:0px;
    font-family: system-ui;
}


#section{
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;    
    align-items:center;
    justify-content:center;
    animation-name:back ;
    animation-duration:5s ;
}
.container{
    width: 1000px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.868);
    box-sizing: border-box;
    /* border-radius:20px ; */
    padding-top: 30px;
    margin: auto;
} 
h1{
    text-align: center;
    color: #213872;
    font-size: 30px;

}
nav{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;

}
nav form label{
    color: black;
    font-weight: 500;

}
nav form input{
    width: 400px;
    padding: 5px 10px;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-radius:6px ;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.btn-edit{
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
#search{
    border: 3px solid rgb(255, 255, 255);
    height: 30px;
    width: 300px;
    border-radius:50px ;
    padding: 0px 10px;


  }

.search{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.search ul {
    margin: auto;
    /* margin-left: 180px; */
}
.search ul li{
    list-style: none;
    display: inline-block;
    line-height: 35px;
}
.search ul li input{
    border: 3px solid rgb(255, 255, 255);
    outline: none;
    border: none;
}
.search ul li a{
    text-decoration: none;
    font-family: 14px;
    color: white;
    padding: 0 20px;
    display: block;
    padding: 0 15px;
    display: block;
    background-color: #213872;
    /* border-radius: 5px; */
    font-weight: 500;
}

#promotions{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#promotions td, #promotions th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#promotions tr:nth-child(even){background-color: #f2f2f2;}
#promotions tr:hover {background-color: #ddd;}
#promotions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #213872;
    color: white;
}
.id {
    text-align: center;
    font-weight: 500;
  }
.ul{
    margin-left: 0px;
    text-align: center;
}
.ul li{
    list-style: none;
    display: inline-block;
    line-height: 35px;
}

.ul li a{
    text-decoration: none;
    font-family: 14px;
    color: white;
    display: block;
    padding: 0 15px;
    display: block;
    background-color: #4c74d8;
    /* border-radius: 5px; */
    font-weight: 500;
  }

  .delete{
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

